.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
project.3.Rcheck/
project.3*.tar.gz
project.3*.tgz
project.crab.prediction.Rcheck/
project.crab.prediction*.tar.gz
project.crab.prediction*.tgz
